{% extends "two_column_body.html" %}

{% import "macros.html" as macros %}
{% load browse_tags %}
{% load extra_tags %}
{% load i18n %}

{% block title %}{% spaceless %}

{% if current_tag %}
Articles Tagged {{current_tag.name}}
{% else %}
Articles
{% endif %}

{% endspaceless %}{% endblock %}

{% block content %}

<h1 class="section-title">
{% if current_tag %}
Articles Tagged {{ current_tag.name }}
{% else %}
Articles
{% endif %}
</h1>

{% if current_tag %}
<p> {{current_tag.description}} </p>
{% endif %}

<ul>
{% for article in articles %}
	<li>
		<a href="{{article.get_absolute_url()}}"> {{article.title}} </a>
		
		<p>
		{{article.teaser}}
		</p>
	</li> 
{% endfor %}
</ul>

<div class="clean"></div>
<div class="pager">
    {{macros.paginator(paginator_context)}}
</div>

{% endblock %}


{% block sidebar%}
<div class="box">

<h2>Tags</h2>

<ul>
{% for tag in tags %}
	<li>
		{% if tag == current_tag %}
			{{tag.name}}
		{% else %}
			<a href="{{tag.get_absolute_url()}}">{{tag.name}}</a>
		{% endif %}
	</li> 
{% endfor %}
</ul>

</div>

{% endblock%}